

  <ion-list (click)="toggleAccordion()">
    <ion-item lines="none"><ion-label>{{ cliente }}</ion-label> 
     <ion-icon slot="end" *ngIf="isMenuOpen" name="chevron-up-outline"></ion-icon>
     <ion-icon slot="end" *ngIf="!isMenuOpen" name="chevron-down-outline"></ion-icon>
    </ion-item>
    
    <ion-list [ngClass]="this.isMenuOpen ? 'active' : 'inactive'">            
       <ion-item lines="none">
         <img [src]="imgtel"> <ion-label>{{ telefone }}</ion-label>
        </ion-item> 
       <ion-item lines="none">
        <img [src]="imgemail"> <p class="paragrafo2">{{ email }}</p>
      </ion-item> 
       <ion-item ><p class="paragrafo2">Informaçoes Adicionais: {{ infodicionais }}</p></ion-item>
         <ion-item><ion-label>Acesso Remoto</ion-label></ion-item >
         <ion-item >
           <p class="paragrafo2">{{unidade}} </p>               
          </ion-item> 
          <ion-item >
            <img [src]="iconacesso">
            <p class="paragrafo2">{{acesso}} </p>                
           </ion-item>       
     
       <ion-item><ion-label>Laudo Online </ion-label></ion-item >
         <ion-item >
           <p class="paragrafo2">{{codempresa}} </p>        
           <p class="paragrafo2">{{ldlink}} </p>                
         </ion-item>        
       <ion-item><ion-label>Informações ReplicaWS</ion-label></ion-item >
         <ion-item>
           <p class="paragrafo2">{{replica}} </p>
           <p class="paragrafo2">{{wslink}} </p>                              
          </ion-item>
    </ion-list>              
   </ion-list>
   
   
          
    


