<ion-header>
  <ion-toolbar>
    <ion-title>
      Clientes
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  
    <app-accordion 
     *ngFor="let technology of technologies" 
     cliente="{{ technology.cliente }}" 
     fantasia="{{ technology.fantasia }}" 
     imgtel="{{ technology.imgtel }}"
     telefone="{{ technology.telefone }}"
     imgemail="{{ technology.imgemail }}" 
     email="{{ technology.email }}"      
     telefone="{{ technology.telefone }}"
     infodicionais="{{ technology.infodicionais }}"
     unidade="{{technology.unidade}}"
     iconacesso="{{technology.iconacesso}}"
     acesso="{{technology.acesso}}"
     codempresa="{{technology.codempresa}}"
     ldlink="{{technology.ldlink}}"
     replica="{{technology.replica}}"
     wslink="{{technology.wslink}}"
     >

    </app-accordion>

  
</ion-content>
